* {
    margin: 0;
    padding: 0;
}

.header {
    background: $very-dark-blue;
    color: $bright-green;
    margin-bottom: $m-size;
    padding: $m-size 0;
}

.header__title {
    font-size: $l-size;
    margin: 0;
}

.header__subtitle {
    font-size: $m-size;
    font-weight: 500;
    color: $chill-white;
    margin: 0rem;
}

@media (min-width: $desktop-breakpoint) {
    .header {
        margin-bottom: $xl-size;
    }
}