.ReactModalPortal>div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    transition: ease-in-out opacity 300ms;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
    background-color: adjust-color($very-dark-blue, $green: 10,  $alpha: -0.3) !important;
}
 
.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: $dark-blue;
    color: $chill-white;
    max-width: 30rem;
    outline: none;
}

.modal__title {
    background: $very-dark-blue;
    padding: $s-size;
}

.modal__body {
    padding: $m-size;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    font-weight: 600;
    word-break: break-all;
}

.modal--button {
    margin-top: $m-size;
    font-size: $m-size;
    width: 96%;
}