// Widget
.widget {
    background: lighten($dark-blue, 20%);
    margin-bottom: $xl-size;
}

.widget__message {
    color: $chill-white;
    margin: none;
    text-align: center;
    padding: $l-size;
    border-bottom: 1px solid lighten($dark-blue, 40%);
}

// Widget Header
.widget-header {
    background: lighten($dark-blue, 10%);
    color: $chill-white;
    padding: $m-size;
    display: flex;
    justify-content: space-between;
}

.widget-header__title {
    margin: 0;
}